body {
    background: url('our-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.products-container {
    background-color: #083D77; 
    color: #fff; 
    margin: 30px auto; 
    padding: 20px;
    max-width: 1200px; 
    border-radius: 10px; 
    text-align: center;
}

.products-container h2 {
    color: #82204A;
    margin-bottom: 15px;
    font-size: 28px;
}

.products-container p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.products-container img {
    max-width: 50%;
    margin: 15px auto;
    border-radius: 10px;
    display: block;
}