.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/images/homeBackground.jpg'); 
    background-size: cover;
    background-position: center;
}

.register-content {
    text-align: center;
    background: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }

p {
    font-size: 1em;
    color: #555;
}

span {
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
}

    span:hover {
        text-decoration: underline;
    }

.error-message {
    color: red;
    margin-top: 10px;
}

.success-message {
    color: green;
    margin-top: 10px;
}
